@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

.App {
  text-align: center;
  font-family: "Benne", serif;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

#profilepic {
  width: 20em;
  height: 20em;
}

#navlogo {
  width: 3em;
  height: 3em;
}

#projectimg {
  width: 30em;
  height: auto;
}
