@import url("https://fonts.googleapis.com/css2?family=Benne&display=swap");

.App {
  text-align: center;
  font-family: "Benne", serif;
  font-size: 1.2em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  list-style: none;
}

#profilepic {
  width: 18em;
  height: 18em;
}

#navlogo {
  width: 3.5em;
  height: 3.5em;
}

#projectimg {
  width: 30em;
  height: auto;
}

.progress {
  height: 2em;
}
.progress-bar {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar-brand {
  padding-left: 1em;
}